<!-- views/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="index">Home</a>
        <a href="about">About</a>
        <a href="create">Create</a>
    </div>

    
    <div class="content">
        <h2>About</h2>
        <p>This is the About page content.</p>
    </div>
    <footer>
        <p>© <%= new Date().getFullYear() %> My Website</p>
    </footer>
</body>
</html>

